<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" /> <!-- NETWORK PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- For Android 13+ if you want to show download notifications -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/iron_man"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iron_man_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApplicationWithoutActionBar" >
        <activity
            android:name=".learn_room_db.ui.RoomLearningActivity"
            android:exported="false"
            android:theme="@style/Theme.ApplicationWithoutActionBar" />
        <activity
            android:name=".learn_retrofit.RetrofitPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".PracticeJavaActivity"
            android:exported="false"
            android:theme="@style/Theme.ApplicationWithoutActionBar" />
        <activity
            android:name=".PracticeActivity3"
            android:exported="false" />
        <activity
            android:name=".PopUpActivity"
            android:exported="false" />
        <activity
            android:name=".MaterialSearchBarActivity"
            android:exported="false" />
        <activity
            android:name=".UploadMultipleImagesActivity"
            android:exported="false" />
        <activity
            android:name=".SinglePropertyActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerWithDiffUtil"
            android:exported="false"
            android:theme="@style/Theme.ApplicationWithoutActionBar" />
        <activity
            android:name=".newsapp.ui.NewsMainActivity"
            android:documentLaunchMode="always"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.NewsApp" /> <!-- intent.addFlags(Intent.FLAG_ACTIVITY_NEW_DOCUMENT) <- add this intent in Activity ( Kotlin file -->
        <activity
            android:name=".AmazonNavigationActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".custom.CustomToolbar"
            android:exported="false"
            android:theme="@style/Theme.CustomToolbar" />
        <activity
            android:name=".coroutine.CounterActivity"
            android:exported="false" />
        <activity
            android:name=".architectures.mvvm.ui.activity.AddBookActivity"
            android:exported="false" />
        <activity
            android:name=".architectures.mvvm.ui.activity.BookDetailActivity"
            android:exported="false" />
        <activity
            android:name=".architectures.mvvm.ui.activity.BooksActivity"
            android:exported="false" />
        <activity
            android:name=".architectures.mvp2.presentation.view.SingleBookActivity"
            android:exported="false" />
        <activity
            android:name=".architectures.mvp2.presentation.view.BookListActivity"
            android:exported="false" />
        <activity
            android:name=".architectures.mvp.presentation.view.UserActivity"
            android:exported="false" />
        <activity
            android:name=".architectures.mvc.NoteActivity"
            android:exported="false" />
        <activity
            android:name=".FileDownloadActivity"
            android:exported="false" />
        <activity
            android:name=".ProgressBarActivity"
            android:exported="false" />
        <activity
            android:name=".ImageDownloadActivity"
            android:exported="false" />
        <activity
            android:name=".PickerActivity"
            android:exported="true" />
        <activity
            android:name=".newshub.NewsHubHomePage"
            android:exported="false" />
        <activity
            android:name=".DifferentStorageActivity"
            android:exported="false" />
        <activity
            android:name=".ListActivity2"
            android:exported="false" />
        <activity
            android:name=".SharedPreferenceDemoActivity"
            android:exported="false" />
        <activity
            android:name=".ShareImageActivity"
            android:exported="false" />
        <activity
            android:name=".ImplicitIntentActivity"
            android:exported="true" />
        <activity
            android:name=".notes.ui.CreateOrEditNotePage"
            android:exported="false"
            android:theme="@style/Theme.NotesApp" />
        <activity
            android:name=".notes.ui.NotesHomePage"
            android:exported="false" />
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.Auth" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Auth" />
        <activity
            android:name=".PracticeLayoutActivity2"
            android:exported="false" />
        <activity
            android:name=".PracticeLayoutActivity1"
            android:exported="true" />
        <activity
            android:name=".BottomNavigationActivity"
            android:exported="true" />
        <activity
            android:name=".PersistDataWhileConfigChange"
            android:exported="true" />
        <activity
            android:name=".ResponsiveActivity"
            android:exported="false" >

            <!-- NOTE: SAME LAUNCHER INTENT IN HomePageActivity: App will get cloned for each launcher -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.MySplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".NavigationDrawerActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".TabsActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerViewActivity2"
            android:exported="false" />
        <activity
            android:name=".RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentsActivity"
            android:exported="false" />
        <activity
            android:name=".ListActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="true"
            android:theme="@style/Theme.MyApplicationWithMaterial" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:launchMode="standard" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>